language: node_js
dist: trusty
node_js:
  - 6.1
sudo: required
addons:
apt:
  sources:
    - google-chrome
  packages:
    - google-chrome-stable
    - google-chrome-beta
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - google-chrome --version
install:
  - npm install
  - npm install codecov
script:
  - ./node_modules/codecov/bin/codecov
  - npm run e2e
  - npm run build -- --prod
  - npm run package
before_deploy:
  - cp -R dist aot && cd aot
deploy:
  - provider: s3
    access_key_id:
      secure: QDVJJQidCg1CHA7hsqK4zDNQ99ZZ7JcjoZbeFVzQrVW+qdJv/q4DBGzzyvut/trCsPiJ31eKVu5L853Uq6jjb6802h96fKTxgyn0nFbgZiK41LhZK4pYf7jX8MG0uiHVd+l0NCb1RYGNOamztYjI/bjznM+xaJScLonshOX2z0LQh4rOJbfBc6QCBhhSY6aOA32mcW67WnhKaF4u60mAM+l21gHNbo28/rYG/mwx1zWPrihJUz12C9nvMnFRkNcV+yp5fWPygv3oEpalRpo0scz5EYJyEXPodpFTfG4ktvcnx93MEmk3N/5EjX0lTWVGi86u6UsRTlkZ4Ai8nksPEK6PKZFk1LSpd8pMVbtswA8Kg3wu2sjaNnxdP8DGKs0hHnqaItLFwYJHlmfu4rEpqgM52vv29hWf1TZtpV84gNdqHFEQvhZVVRD5FbjgAGWYOgbmiTXCyBWDDX/LEOKjowI0hpRsfpJFPkZG+ryOVuOYWZmdo8xyzjRfhBnCU/uj8seyPQo7B7Ep6wwaP81NENEktMsVb5k/d3uG6XoFNEQEXNzyiUWzlhWwyaGboc4zg5wFmSRHwmHIDZRVxisig+VXTsB/rFzFw3sm1ZzTzArxWVhHZle6gw4k0Q8ZxiWYSXRBh0cEmmMHEH0pwTp2Ux2QsurIcyjWAMpVvrfAaTs=
    secret_access_key:
      secure: HktiS/tHorMz/svkPKbRurE3loF+Vxf53AIKXQSQQHglfo+agnp02/RYFKNULZs45vtA1Fp34fiACxvv/P2PArXYWQxg6znjWvtuIjxN0iYurB1zYuzZq60q+z6iZcbPGbowSvH0tKZZCRtzo1bmXeswIuwjhhSIvM0OvUwSYUtVWVudKJF0B8836EtXUZ2Dc5MtBN3W5/e6Nm2ILEHZ5XgJ/ZOqkkyCsaTa1H+4FdwlWLJpHof5fVm0hdjrBWHqNDCBzz46fMSIJfhX6Tw+TPqX2EPn8KRChhjBbAUjkiwOhXBI92y0JkxWzNmn0x+VlQrskih2ATQccWv3hpjUbrDIVcbChFJ8EGKlfRRUkFFC0KOEkUSXs84TLo0ifXKanYyvviTSRvp/pmsbTknbEw0FVsTQ1icaq5HEjEUT/qel6jJQH1lG14nin18klCHU907EMWANlB/9f+JlBRWH804dr6inqxvH+GEnNHjSy2VTFJfeVtBu+fP+JuDb0hZfZ6f/OS+mZ86lFVpfto3cdHmvWOubCwBmyRCT866Dj6SnBgyfxTDH5FNRfEjFhTrU9CdAfYKnVRrwuoNa1j7zRD3vGmmrNeQ1a3wLFlfD0oXyX/T+aUFErQLV6VhC8Ij3Zt+4y9BYwKsPd0JavmrDfgam+k0O6QLK1y+/AGdiGVI=
    bucket: poc.styleguide.online
    skip_cleanup: true
    local-dir: dist
    acl: public_read
    on:
      branch: master
  - provider: npm
    email: arranbartish@hotmail.com
    api_key:
      secure: foEiZeaPwxZ7aWJxvmDwbrXFgy7e29SRfrgp55xYwqfiVbhk9UOO+1IDBfJMJXMfreSyAFwodVOjvjEzNJX/rvJ1AeTAfW67UEh3+3fNPDQYIrvQRbi3HYCzDOrZwNg1vAGg68qmOX1IQJLJnaLa+Zkkfj0zAzbaNvKpssHT6ZEUf1Kly0VQ7q6K24pCbGmwQxLd874nKL2djPsZepKVoUmaki1CKAI0WyA7iHbUWZRC69Be6AjA9gyAlDSIGm8Nzb3ccR9sTahUJJ5TF7OAkbmy39JIlxjxPabGZNnfMos7FVs3xYRC9Yj50C7iF6NPnRtJ3r3WrdVhGsP6UshDS5BqhBpAd+H4BjsDfuqJE38jKJ1Ndl43am7x0gD7S0Bm8Ck9MIxNekWIKvJbkz6TJLVhlzDgSFxG7lzsde96BjchLqJk9ExDfsoveujywPdNk0JXjOXFo6C55kWsxFG/U+eiKT60+eXlXCVKnJKDfssyRns0pOt2F/KBXbhhgQTeNyeeArby7KVy4lTzCRBnG9a3GvFtUMs/XhjnAJTy0UoJIltoi6JQCpYvdUfHXlFfYWmhW65iFVQtYdpd1X1gqGlJNe3td8RgsZ+byKoVfn6Gb6YonZbRu01mz05mXYZpp3NZ7V4I0TmqKql+2X4OcJapWjyPGr5fy/seLSXpuI0=
    skip_cleanup: true
    local-dir: aot
    on:
      tags: true
  - provider: s3
    access_key_id:
      secure: cbFBWrc6wt+EYBdWwwmzne+yOUNSsaq7w1wxMmHDdmP1G8Ct5TSsM5V/ZnRGCWq9IM+vUSVdX6pc16AbRR/32pcA6Pznbeic1teIzKo7WhO1c1QQaHSFXt8/NTARNeijHHr6IjOqFW8VyVnm1cKX4S1E+5EGfeRUElYnApSss0jLBu+qHN/9xqYpae0MdZpUEhjI7c38ugXYiXZsirBb8yl5z3L/ogWEV3o0pXbhhNHGOPWTE2YUiK8ELuW+asPcVONCV33zTtnvwqg4O5tytcUJFh8wmJsv3njj0egtcNkakP0zO2KNMo+U2tRn9O4UkUdYb9B7mD+oNnsVsf6gEUgOxUvSOabYY7/MxaTgqZe2NqezaD5drwE38I3634BRYL/ZmRXLzntaFtsfeg29KdlJEMkD3njU4pOGGKraLleA+1otRHbjlLnYfKLYTz8cfuctgG0bfmB6atLQCYfxyFUYeYhSLT67nY/40bj4/vEbiL9yuYbz1hVSRcJhRIKFEACpOMWkt8DgyFGjjd6pP5kE6r5Fu7XXfsqiAWjXsjPLEI0vD5MTfX/EdX5HHDZymBZMYG9KYPJh6zvErah9jz7SrJl26bOL4ILDWxz9EV+gZwIAIDSJlQ7ItuuPRwC8zBj8gxFZhJYGD70OFYUCpaf+JLPTL17WoE5802q2gRg=
    secret_access_key:
      secure: H+bFS1G2XPEHT+MdO6HtOyP1K9gQB4JI3RCGkYqEv0jq1D128mMcFu6YlSf4fyOJYOKxhoQPC1zZe/MouO+P0cG41LRnrMgmJI3p/YptExieS6CvTky36gmg4cN6aXVucuRQl0ipvl+MekkJzHonkOHVUu8ylK6V/G0D+mWZVfLVnWnAtMMxr3jWcJoeBHzPsslwgpGMzZzR43FaHbhpDP1CqYOrIdw9+WFbxKAldGq0wsWxJQeGN14OJeSOgY/dyClvAIhabPdVd5oGI2FXjIFmyIyy8Qfv2+4fqtlKbATC+9vTg60FinZKjvpCnkSCpG3UqB2WcyM499aJcT3hgfmA2pmo4oOaAT3rpmL22mOvPi517eVCCpJVLvRLTUktMCTzzzjhzOj0t/C2S4BuOoP8M4dYuymIO04p6+T/0Gnyz+Sf9os4dv1h1FH8McZGAOOrAnWM4WWfDj1pnFc4RgYW6JQB7yHLxS+ti5iDScee6mPrfIGukEZJTCfm9GkE0r183/t9yTEBwLpJXH438BOmXL1rvXjJ1ynPk7ego6mHJb+par7UP5PMKUhDKdkuytCRKy5gVsn9fO+yVZYUypJeB1mYPReRViIG9SXCagPgc18suOvnS0fQllPtJ66rzVLzfuLOFPMU4e3fNr8hI/OMr8jvJPDXQl6LQnxyrRs=
    bucket: latest.styleguide.online
    skip_cleanup: true
    local-dir: dist
    acl: public_read
    on:
      tags: true
