<div fxLayout="row"
     fxLayoutAlign="space-between center">
  <a class="breadcrumbs"
     routerLink="/main">Back</a>
  <div class="logo-wrp">
    <img class="logo-img"
         src="assets/logo_tool42.svg">
  </div>
</div>

<section>
  <div fxLayout="row">
    <app-tek-contact-us-form fxFlex="33"
                             (onCancel)="onBtnClick('Cancel button clicked')"
                             (onSubmit)="onBtnClick('Submit button clicked')"></app-tek-contact-us-form>
  </div>
</section>


