<div class="logo-wrp">
  <img class="logo-img"
       src="src/assets/logo_tool42.svg">
</div>
<a routerLink="/main">Back</a>

<!--<section>
  <h2>SHAPES</h2>
  <h3>Default Size</h3>
  <button type="button" class="btn btn-default" style="width:100px;">Label</button>
  <h3>Mini Size</h3>
  <button type="button" class="btn btn-default" >Label</button>
  <h3>Slim Size</h3>
  <button type="button" class="btn btn-default" style="height:30px;">Label</button>
</section>-->

<h1>Form Input Elements</h1>
<section>

  <h3>Form 1</h3>
  <div fxLayout="row" fxLayoutAlign="start" >
   <app-tool42-form-input-field type="primary" buttonText="Button" inputPlaceholder="Enter text"></app-tool42-form-input-field>

  </div>
  <br>
  <h3>Form 2</h3>
  <div fxLayout="row" fxLayoutAlign="start" >
    <app-tool42-form-input-field type="secondary" buttonText="Button" inputPlaceholder="Enter text"></app-tool42-form-input-field>
  </div>
</section>

<!--<section style = "background-color: #999966;">
  <h2>COLORS ON DARK BACKGROUND</h2>
  <h3>Normal</h3>
  <button type="button" class="btn btn-default">Label</button>
  <h3>Mouse Over</h3>
  <button type="button" class="btn btn-primary">Label</button>
  <h3>Active</h3>
  <button type="button" class="btn btn-success">Label</button>
  <h3>Disabled</h3>
  <button type="button" class="btn btn-danger">Label</button>
</section> -->
