<div class="app-component">
  <div class="logo-wrp">
    <img class="logo-img"
         src="src/assets/logo_tool42.svg">
  </div>
  <section>
    <h1>
      {{atomsSectionTitle}}
    </h1>

    <md-card>Labels</md-card>
    <md-card>Buttons</md-card>
    <md-card>Inputs</md-card>
  </section>
  <section>
    <h1>
      {{moleculesSectionTitle}}
    </h1>

    <md-card>Form Input field</md-card>

  </section>
  <section>
    <h1>
      {{organismsSectionTitle}}
    </h1>

    <md-card>Contact Up Form</md-card>
  </section>
</div>
