<div class="app-component">
  <div class="logo-wrp">
    <img class="logo-img"
         src="assets/logo_tool42.svg">
  </div>
  <section>
    <h1>
      {{atomsSectionTitle}}
    </h1>

    <div fxLayout="row">
      <a routerLink="/labels"
         fxFlex="20">
        <mat-card>Labels</mat-card>
      </a>
      <a routerLink="/buttons"
         fxFlex="20">
        <mat-card>Buttons</mat-card>
      </a>
    </div>
  </section>
  <section>
    <h1>
      {{moleculesSectionTitle}}
    </h1>

    <div fxLayout="row">
      <a routerLink="/form-inputs"
         fxFlex="20">
        <mat-card>Form Inputs</mat-card>
      </a>
    </div>

  </section>
  <section>
    <h1>
      {{organismsSectionTitle}}
    </h1>
    <div fxLayout="row">
      <a routerLink="/contact-us-form"
         fxFlex="20">
        <mat-card>Contact Us Form</mat-card>
      </a>
    </div>
  </section>

</div>
