<div fxLayout="row"
     fxLayoutAlign="space-between center">
  <a class="breadcrumbs"
     routerLink="/main">Back</a>
  <div class="logo-wrp">
    <img class="logo-img"
         src="src/assets/logo_tool42.svg">
  </div>
</div>

<section>
  <h1> Labels</h1>

  <div fxLayout="column">
    <tek-label level="1"
                content="Level 1"
                fxFlex="20"></tek-label>

    <tek-label level="2"
               content="Level 2"
               fxFlex="20"></tek-label>

    <tek-label level="3"
               content="Level 3"
               fxFlex="20"></tek-label>

    <tek-label level="4"
               content="Level 4"
               fxFlex="20"></tek-label>
  </div>
</section>
