<div class="buttons-shell">
  <div fxLayout="row"
       fxLayoutAlign="space-between center">
    <a class="breadcrumbs"
       routerLink="/main">Back</a>
    <div class="logo-wrp">
      <img class="logo-img"
           src="src/assets/logo_tool42.svg">
    </div>
  </div>

  <section>
    <h1> Buttons</h1>
    <div fxLayout="row"
         fxLayoutAlign="start">
      <app-tek-button type="primary"
                      caption="Primary active"
                      fxFlex="20"
                      (click)="onBtnClick('Primary active clicked')"></app-tek-button>

      <app-tek-button type="primary"
                      state="hovered"
                      caption="Primary hovered"
                      fxFlex="20"
                      (click)="onBtnClick('Primary hovered clicked')"></app-tek-button>

      <app-tek-button type="primary"
                      disabled=true
                      caption="Primary disabled"
                      fxFlex="20"
                      (click)="onBtnClick('Primary disabled clicked')"></app-tek-button>
    </div>
    <br>
    <div fxLayout="row"
         fxLayoutAlign="start">

      <app-tek-button type="secondary"
                      caption="Secondary active"
                      fxFlex="20"
                      (click)="onBtnClick('Secondary active clicked')"></app-tek-button>

      <app-tek-button type="secondary"
                      state="hovered"
                      caption="Secondary hovered"
                      fxFlex="20"
                      (click)="onBtnClick('Secondary hovered clicked')"></app-tek-button>

      <app-tek-button type="secondary"
                      disabled=true
                      caption="Secondary disabled"
                      fxFlex="20"
                      (click)="onBtnClick('Secondary disabled clicked')"></app-tek-button>
    </div>
  </section>

</div>
