<div class="logo-wrp">
  <img class="logo-img"
       src="src/assets/logo_tool42.svg">
</div>
<a routerLink="/main">Back</a>

<h1> Buttons</h1>

<section>
  <h3>Primary Button</h3>
  <div fxLayout="row"
       fxLayoutAlign="start">

    <app-tool42-button type="primary"
                       state="active"
                       fxFlex="15"></app-tool42-button>

    <app-tool42-button type="primary"
                       state="hover"
                       fxFlex="15"></app-tool42-button>

    <app-tool42-button type="primary"
                       state="disabled"
                       fxFlex="15"></app-tool42-button>
  </div>
  <br>
  <h3>Secondary Button</h3>
  <div fxLayout="row"
       fxLayoutAlign="start">

    <app-tool42-button type="secondary"
                       state="active"
                       fxFlex="15"></app-tool42-button>

    <app-tool42-button type="secondary"
                       state="hover"
                       fxFlex="15"></app-tool42-button>

    <app-tool42-button type="secondary"
                       state="disabled"
                       fxFlex="15"></app-tool42-button>
  </div>
</section>


<!--<section style = "background-color: #999966;">
  <h2>COLORS ON DARK BACKGROUND</h2>
  <h3>Normal</h3>
  <button type="button" class="btn btn-default">Label</button>
  <h3>Mouse Over</h3>
  <button type="button" class="btn btn-primary">Label</button>
  <h3>Active</h3>
  <button type="button" class="btn btn-success">Label</button>
  <h3>Disabled</h3>
  <button type="button" class="btn btn-danger">Label</button>
</section> -->
