<div fxLayout="row"
     fxLayoutAlign="space-between center">
  <a class="breadcrumbs"
     routerLink="/main">Back</a>
  <div class="logo-wrp">
    <img class="logo-img"
         src="src/assets/logo_tool42.svg">
  </div>
</div>

<section>
  <div fxLayout="column">
    <div fxLayout="row">
      <app-tek-form-input type="text"
                          label="First Name"
                          fxFlex="33"></app-tek-form-input>
    </div>
    <div fxLayout="row">
      <app-tek-form-input type="text"
                          label="Last Name"
                          fxFlex="33"></app-tek-form-input>
    </div>
  </div>
</section>
